{% extends 'base.html.twig' %}

{% block title %}RDV PROJECT{% endblock %}

{% block body %}
<section class="section-homepage">
        <div class="container-homepage">
            <a href="{{path('app_login')}}">RDV PROJECT</a>
        </div>
</section>
{% endblock %}
