{% extends 'base.html.twig' %}

{% block title %}RDV PROJECT{% endblock %}

{% block body %}
<section class="section">
        <div class="section-homepage">
            {# <a class="lien_homepage">RDV PROJECT</a> #}
        </div>
</section>
{% endblock %}
