* {
    margin: 0px;
}

.lien_homepage {
    font-size: 2rem;
    transform: scale(1);
    transition: 0.8s;
    color: white;
    border: 3px solid black;
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
}

.lien_homepage:hover {
    font-size: 2rem;
    transform: scale(1.1);
    background-color: white;
    opacity: 0.7;
    color: black;
}



.section {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-image: url('../img/background.jpg');
    background-size: cover;
}

.section-homepage {
    height:100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}