footer {
    height: 50px;
    width: 100vw;
    background-color: white;
    p {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 7px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        }
}
