footer {
    height: 50px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        justify-content: space-around;
    }
    p {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 8px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        #copyright {
            font-size: 15px;
        }
    }
    div {
        width: 150px;
        display: flex;
        justify-content: space-around;
    }
}
