nav {
    height: 70px; 
    width: 100vw;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    #container-nav {
        display: flex;
        letter-spacing: 6px;
        width: 100vw;
        justify-content: center;
        align-items: center;
        p {
            font-size: 2rem;
            color: rgb(0, 0, 0);
            letter-spacing: 8px;
        }
        ul {
            width: 70%;
            height: 100%;
            text-decoration: none;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // padding-top: 20px;
            li {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    text-decoration: none;
                    color: black;
                    transform: scale(0.98);
                    transition: 0.5s;
                    &:hover {
                        border-bottom: 1px solid black;
                        opacity: 0.7;
                        transform: scale(1);
                        
                    }
                }
            }
        }
    }
}