.section-profil {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-image: url('../../public/assets/img/backgroundhomepage.jpg');
    background-color: rgba(4, 3, 7, 0.612);
    background-blend-mode: overlay;
    opacity: 0.9;
    background-size: cover;
    .container-profil {
        height:100vh;
        width: 50vw;
        background-color: white;
        opacity: 0.7;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 80px;
        h2 {
            font-size: 3rem;
            color: black;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 8px;
            border-radius: 1px solid black;
        }
        img {
            height: 200px;
            width: 200px;
            border-radius: 150px;
            border: 3px solid black;
        }
        .infos {
            width: 30vw;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 0.4px solid rgba(0, 0, 0, 0.256);
            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                input, label {
                width: auto;
                height: auto;
                padding: 20px;
                border: 0px;
                font-family: 'Montserrat', sans-serif;
                }
                input {
                border-bottom: 1px solid rgba(0, 0, 0, 0.42);
                height: 10px;
                padding: 20px;
                outline: none;
                font-family: 'Montserrat', sans-serif;
                padding-bottom: 14px;
                font-size: 18px;
                text-align: center;
                }
                
            }
            .btn-confirm {
                padding: 15px;
                display: flex;
                align-items: center;
                font-size: 0.5rem;
                margin-bottom: 20px;
                margin-top: 20px;
                transform: scale(1);
                transition: 0.5s;
                text-transform: uppercase;
                background-color: black;
                letter-spacing: 5px;
                width: 110px;
                height: 35px;
                color: white;
                border-radius: 30px;
                text-align: center;
                justify-content: center;
                    &:hover {
                    transform: scale(1.06);
                    opacity: 1;

                }
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            p {
                width: auto;
                height: auto;
                padding: 20px;
                i {
                    width: 20px;
                    height: 20px;
                    opacity: 0.7;
                }
            }
        }
    }
}