.form-signup-section{
    height: auto;
    width: 100vw;
    background-image: url('../../public/assets/img/backgroundhomepage.jpg');
    background-color: rgba(4, 3, 7, 0.612);
    background-blend-mode: overlay;
    // background-size: cover;
    opacity: 0.9;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    .form-signup {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 100px;
        // #agree-terms {
        //     display: flex;
        //     flex-wrap: wrap;
        // }


        h2 {
            font-size: 3rem;
            color: white;
            font-family: 'Montserrat', sans-serif;
            border: 1px solid white;
            padding: 20px;
            width: 330px;
            letter-spacing: 8px;
        }

        input, label {
            display: flex;
            justify-content: center;
            padding: 20px;
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 1rem;
            font-weight: 100;
            text-transform: uppercase;
            border-radius: 10px;
        }
        input {
        border: 1px solid white;
            outline: none;
            font-family: 'Montserrat', sans-serif;
            opacity: 0.7;
            background-color: white;
            padding: 20px;
            border: 2px solid black;
            color: black;
        }
        button {
            padding: 15px;
            font-size: 1rem;
            margin-top: 20px;
            width: 188px;
            height: 60px;
            margin-top: 50px;
            transform: scale(1);
            transition: 0.5s;
            border: 2px solid black;
            text-transform: uppercase;
            opacity: 0.7;
            letter-spacing: 5px;
            &:hover {
                transform: scale(1.06);
                opacity: 1;
            }
        }
        // input {
        //     border: 1px solid white;
        //     outline: none;
        //     font-family: 'Montserrat', sans-serif;
        //     opacity: 0.7;
        //     background-color: white;
        //     padding: 20px;
        //     border: 2px solid black;
        //     margin: auto;
        // }
        // label {
        //     font-family: 'Montserrat', sans-serif;
        //     color: white;
        //     font-size: 2rem;
        //     font-weight: 100;
        //     padding: 20px;
        //     text-transform: uppercase;
        // }
        // button {
        //     padding: 15px;
        //     font-size: 1rem;
        //     margin-top: 20px;
        //     width: 188px;
        //     height: 60px;
        //     margin-top: 50px;
        //     transform: scale(1);
        //     transition: 0.5s;
        //     border: 2px solid black;
        //     text-transform: uppercase;
        // }
        // label, input {
        //     // display: flex;
        //     // flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        //     margin: 20px;
        // }
    }
}