.form-signin-section{
    height: 100vh;
    width: 100vw;
    background-image: url('../../public/assets/img/backgroundhomepage.jpg');
    background-color: rgba(4, 3, 7, 0.612);
    background-blend-mode: overlay;
    opacity: 0.9;
    display: flex;
    background-size: cover;
    justify-content: center;
    .form-signin {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 3rem;
            color: white;
            font-family: 'Montserrat', sans-serif;
            border: 1px solid white;
            padding: 20px;
        }
        input,label {
        display: flex;
        justify-content: center;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 1rem;
        font-weight: 100;
        text-transform: uppercase;
        border-radius: 10px;
        outline: none;
        }
        input {
        border: 1px solid white;
        outline: none;
        font-family: 'Montserrat', sans-serif;
        opacity: 0.7;
        background-color: white;
        padding: 20px;
        border: 2px solid black;
        color: black;
        }
        label {
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 1rem;
            font-weight: 100;
            padding: 20px;
            text-transform: uppercase;
        }
        button {
            padding: 15px;
            font-size: 1rem;
            margin-top: 20px;
            width: 188px;
            height: 60px;
            margin-top: 50px;
            transform: scale(1);
            transition: 0.5s;
            border: 2px solid black;
            text-transform: uppercase;
            opacity: 0.7;
            letter-spacing: 5px;
            &:hover {
                transform: scale(1.06);
                opacity: 1;
            }
        }
    }
}