<footer>
    <div><i class="fas fa-phone"></i><i class="fas fa-envelope"></i></div>
    <p>RDV PROJECT<i class="far fa-copyright" id="copyright"></i></p>
    <div><i class="fab fa-twitter"></i><i class="fab fa-facebook"></i></div>
</footer>